.container {
  width: 100%;
  min-width: fit-content;
  overflow-y: auto;
  display: relative;
}

.detailOrderContainer {
  padding: 0px 20px;
}
#checkoutButton {
  position: absolute;
  background-color: var(--green-color--);
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: 50px;
  color: white;
  text-align: center;
  font-size: 20px;
}