.optionContainer {
    padding: 20px;
}

.itemContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--green-color--);
    color: var(--green-color--);
    border-radius: 10px;
}

.itemContainer p {
    font-size: large;
}

.cashierIcon {
    position: absolute;
    left: 30px;
}

.itemContainerEwallet {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--green-color--);
    color: var(--green-color--);
    border-radius: 10px;
    width: 45%;
}

.itemContainerEwallet p {
    font-size: large;
}